body {
  margin: 0;
  padding: 0;
  font: 0.9em/1.6 Verdana, sans-serif;
  color:#000;
}

/* ############################################################################
###############################################################################
###
### Page Regions 
#*/

/* Header */
header#header {
	padding-left: 0;
}

header#header #block-block-2,
header#header #block-views-masthead-block {
	margin-bottom: 0; /* Blocks in masthead have no bottom margin, need things tight against each other */
}

header#header #block-views-masthead-block img {
	display: block;
}

/* Main */
#main {
	background: url(/sites/all/themes/dpm_zen/images/bannerSide.jpg) top left no-repeat;
}

/* Sidebar */
#sidebar-left {
	float: left;
	width: 165px;
	padding: 10px 15px 0 4px;
	background: url(/sites/all/themes/dpm_zen/images/bannerSide.jpg) top left no-repeat;
	min-height: 400px;
}
#block-system-main-menu ul {
	padding-left: 0;
}
#block-system-main-menu li {
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 1em;
}
#block-system-main-menu a {
	text-decoration: none;
}
#block-system-main-menu a:hover,
#block-system-main-menu a:focus {
	text-decoration: underline;
}

/* BEGIN DPM IMPORTED STYLES */

/* Tag re-writes */
td {
	font: 8pt/14pt verdana; 
	color: #555753; 
	line-height: 13pt;
	}

h2, h3, h4, h5, h6 {
	color: #6F8531;
	}
	
h1.title {
	font-size: 1.05em; 
	color: #D77B28;
}	
	
h2, .title {
	font-size: 13px;
	font-weight: bold;
	color: #6F8531;
	}	

h3 {font-size: 11px;}

a {
	font-weight: bold; 
	color: #333366;
	}

a:visited {
  	color: #333366;
	}
	
a:hover, a:active {
  	color: #666666;
  	text-decoration: underline; 
	}
	
a.white {
  	color: white;
	}

a.white:visited {
  	color: white;
	}

a.white:hover {
  	color: white;
	}

a.white:active {
	color: white;
	}
	
/* Page regions */
#page,
.region-bottom {
	margin-left: 0;
	margin-right: 0;
}

#center .active,
.content .active {
	font: bold 12px/19px Verdana, Arial, Helvetica, sans-serif;
	color: #6F8531;
}

	
	
.footer {
	font: 8pt/12pt arial;
	text-decoration: none;

	}
	
.green {
	color: #6F8531; 
	}

.lineheight {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	margin: auto;
	padding-top: 5px;
	padding-bottom: 5px;
}

.margin {
	margin-left: 5px;
}

.indent {margin-left: 45px;}

.navbar {
	font: 9pt/11pt verdana;
	text-decoration: none;
	font-weight: bold;
	}
	
a.oddnav {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #6F8531;
	line-height: 16pt;
	text-decoration: none;
}

	
a.orangenav {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #0000OO;
	line-height: 16pt;
	text-decoration: none;
}

a.test {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #CC6600;
	text-decoration: none;
}
	
table.nav {
	background-image: url(/sites/all/themes/dpm_zen/images/bannerSide.jpg);
	background-repeat: no-repeat;
	}

td.nav {
	background-image: url(/sites/all/themes/dpm_zen/images/bannerSide.jpg);
	background-repeat: no-repeat;
	}
	
.nav ul, .nav li {
	list-style-type: none;
	margin-left: 0;
	padding: 0;
	margin-bottom: 10px;
	}
	
.quiz {
	margin: 2px 1px 1px 2px;
	font: 8pt/10pt verdana; 
	line-height: 11pt;
}
	
.small {
	font: 9pt/11pt verdana;
	font-weight: bold;
	line-height: 19pt;
	color: #CC3300;
	}

.tablehead {
	background-color: #E5B362;	
	}

.tablebody {
	background-color: #F9F8F2;
	}
	
.timeline {
	font: 8pt/11pt verdana;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	}

.white {
	color: #FFFFFF;
	}.imagenorep {
	background: repeat-x;
}
.schedule {
	font: 9px/normal Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	margin-right: 3px;
	margin-left: 3px;
	text-align: center;
	vertical-align: top;
	padding: 0px;
}

.nounderline {
text-decoration:none;
}

.names {
	font: italic 10px Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	margin-right: 3px;
	margin-left: 3px;
	padding-right: 5px;
	padding-left: 5px;
}
.pretty {
	font: italic bold 13px Georgia, Times New Roman, Times, serif;
	color: #993333;
}
.subnav {
	font: 9pt verdana;
	text-decoration: none;
	line-height: 19pt;
	font-weight: normal;
	text-indent: 5px;

	}
.manager {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #6F8531;
}
.technical {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #EEA643;
}

.section {
	font-size: small;
	font-weight: bolder;
	color: #666666;
}
.indexbox {
	font-size: 12px;
	line-height: 30px;
	padding: 20px;
	background-image: url(/sites/all/themes/dpm_zen/images/indexbox.gif);
	background-repeat: no-repeat;


}
.box {
	background-image: url(/sites/all/themes/dpm_zen/images/boxmiddle.gif);
	background-repeat: repeat-y;
	padding-left: 20px;
	padding-right: 20px;
	width: 620px;
}


a.layer:active { text-decoration: none;
	color: #660000;
	background: #ccc;
}

a.layer:hover { color: #600;
	background: #c9d5ed;
	font-weight: normal;
}

a.layer:link {
	color: #039;
	text-decoration: none;
	font-weight: normal;
}

a.layer:visited {
	color: #039;
	text-decoration: none;
	font-weight: normal;
}

#layer1, #layer2, #layer3, #layer4, #layer5, #layer6, #layer7 {
   background: #fff;
   border: 1px solid #6F8531;
   font-size: 10pt;
   width : 250px;
   top : 230px;
   left : 200px;
   position : absolute;
   z-index : 90;
   visibility : hidden;
}

#layer2 {top : 240px;}

#layer3 {top : 250px;}

#layer4 {top : 300px;}
#layer5 {top : 310px;}
#layer6 {top : 350px;}
#layer7 {top : 400px;}

body.terms ul#n #terms, body.terms ul#n #terms a, 
body.intro ul#n #intro, body.intro ul#n #intro a,
body.using ul#n #using, body.using ul#n #using a,
body.stage ul#n #stage, body.stage ul#n #stage a,
body.obsolescence ul#n #obsolescence, body.obsolescence ul#n #obsolescence a,
body.foundations ul#n #foundations, body.foundations ul#n #foundations a,
body.challenges ul#n #challenges, body.challenges ul#n #challenges a,
body.elements ul#n #elements, body.elements ul#n #elements a,
body.conclusion ul#n #conclusion, body.conclusion ul#n #conclusion a,
body.questions ul#n #questions, body.questions ul#n #questions a,
body.toc ul#n #toc, body.toc ul#n #toc a
{
color:#6F8531; background:#fff; text-decoration:none;
}

/*  code for timeline section  */

.timeline {
	font: 8pt/11pt verdana;
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;
	}

.year-bg {
background: url(/sites/all/themes/dpm_zen/images/year-bg.gif) no-repeat;
font: 14px verdana,sans-serif;
color: #000;
height: 18px;}

.year-padding {padding-left: 22px;}

.orange-image {
/*background-image:url(/sites/all/themes/dpm_zen/images/orange.gif);*/
border-left: 4px solid #FAA735;
}

td.timelineSections {
	padding-bottom: 3px;
	}
/*  end code for timeline section  */

/* END DPM IMPORTED STYLES */

	
#center {
	margin-left: 188px;
	width: 492px;
	}
	
#logo-floater {
	line-height: 0;
	}
	

#content {
	font-size: .75em;
	color: #555753;
	}
	
.content table {
	border-collapse: separate;
	}
	
#search-block-form #edit-submit,
#search-block-form .form-submit {
	background: #ebb76f;
	color: #000;
	border: none;
	display: block;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	}
	
#sidebar-left .menu a {
	font-size: 75%;
	}
	
#sidebar-left .menu li {
	list-style: none;
	}
	
#sidebar-left .menu a:link, #sidebar-left .menu a:visited {
	text-decoration: none;
	}
	
#sidebar-left ul.menu {
	padding: 0;
	}
	
ul.nice-menu li {
	background: none;
	border:none;
	font-size: 85%;
	padding: 7px 0;
	}
	
ul.nice-menu a {
	padding: 0;
	}
	
ul.nice-menu, ul.nice-menu ul {
	border: none;
	margin-left: 0.5em;
	}
	
ul.nice-menu ul {
	background: #fff;
	padding: 8px 5px;
	border: 1px solid #6F8531;
	}
	
ul.nice-menu li a:link,
ul.nice-menu li a:visited {
	text-decoration: none;
	}

ul.nice-menu ul li a:link,
ul.nice-menu ul li a:visited {
	color: #003399;
	font-weight: normal;
	font-size: 125%;
	}
	
ul.nice-menu-right ul,
ul.nice-menu-right ul li, 
ul.nice-menu-left ul li {
	width: 17em;
	padding: 4px;
	line-height: 1;
	}
	
.block-user {
	margin: 10px 0;
	}
	
.book-navigation .menu {
	display: none;
	}
	
ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
	background: none;
	}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: none;
}

#admin_nav_menu {
	position: absolute;
	top: 25px;
	right: 50px;
	width: 150px;
	background: #ccc;
	border: 1px solid #ccc;
	padding: 10px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	}
	
.logo_table {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
	
.book-navigation .page-links {
	border:none;
	}
	
table div.top img {
	vertical-align: top;
	}
	
table div.bottom img {
	vertical-align: bottom;
	}
	
.toggle {
	display: none;
	}
	
.smbox {
	background: #fbf9f6;
	border: 1px solid #ddd2c2;
	padding: 14px;
	-moz-box-shadow: 4px 4px 2px #888;
	-webkit-box-shadow: 4px 4px 2px #888;
	box-shadow: 4px 4px 2px #888;
	margin: 5px;
	line-height: 1;
	font-size: 100%;
	}
	
.super_heading {
	font-size: 0.85em;
	font-weight: bold;
	color: #6F8531;
	}
	
.sidebar .active-trail a:link,
.sidebar .active-trail a:visited {
	color: #6F8531;
	}
	
.sidebar .active-trail ul a:link,
.sidebar .active-trail ul a:visited {
	color: #336;
	}
	
.page-links .page-up {
	display: none;
	}
	
td.active {
	background: none;
	}
	
#new_window .book-navigation {
	display: none;
	}

td#orange-border {
	border-left: 4px solid #FAA735;
	}
	
li.menu-593 {
	display: none;
	}
	
.orng {
	background-image: url(/sites/default/files/orange.gif);
	}
